# IF3170 Artificial Intelligence | EDA Assignement

Group Number: 54

Group Members:
- Daniel Mulia Putra Manurung (13522043)
- Adril Putra Merin (13522068)

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sb

## Import Dataset

In [15]:
# Importing the Dataset

# Import the metadata if needed
# df_metadata = pd.read_csv('./dataset/UNSW-NB15_features-modified.csv')

# Importing and merging the datra
df_1 = pd.read_csv('./dataset/flow_features_train.csv')
df_2 = pd.read_csv('./dataset/basic_features_train.csv')
df_3 = pd.read_csv('./dataset/content_features_train.csv')
df_4 = pd.read_csv('./dataset/time_features_train.csv')
df_5 = pd.read_csv('./dataset/additional_features_train.csv')
df_6 = pd.read_csv('./dataset/labels_train.csv')

df = df_1.merge(df_2, on='id', how='outer') \
               .merge(df_3, on='id', how='outer') \
               .merge(df_4, on='id', how='outer') \
               .merge(df_5, on='id', how='outer') \
               .merge(df_6, on='id', how='outer')

# Swap id and proto column
cols = list(df.columns)
idx1, idx2 = cols.index("proto"), cols.index("id")
cols[idx1], cols[idx2] = cols[idx2], cols[idx1]
df = df[cols]

### Dataset Preview

In [17]:
df

,id,proto,state,dur,sbytes,dbytes,sttl,dttl,sloss,dloss,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,label
0,1,tcp,FIN,0.121478,258,172,252,254,0,0,...,0,1,1,1,1,1,1,1,Normal,0
1,2,tcp,FIN,0.649902,734,42014,62,252,2,17,...,0,43,6,1,1,1,1,2,Normal,0
2,3,tcp,FIN,1.623129,364,13186,62,252,1,6,...,0,7,6,2,2,1,1,3,Normal,0
3,4,tcp,FIN,1.681642,628,770,62,252,1,3,...,1,1,1,2,2,1,1,3,Normal,0
4,5,tcp,FIN,0.449454,534,268,254,252,2,1,...,0,43,39,2,2,2,1,40,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175336,175337,udp,INT,0.000009,114,0,254,0,0,0,...,0,24,24,24,24,24,13,24,Generic,1
175337,175338,tcp,FIN,0.505762,620,354,254,252,2,1,...,0,1,1,1,1,1,1,2,Shellcode,1
175338,175339,udp,INT,0.000009,114,0,254,0,0,0,...,0,12,12,3,3,3,3,13,Generic,1
175339,175340,udp,INT,0.000009,114,0,254,0,0,0,...,0,30,30,30,30,30,14,30,Generic,1
175340,175341,udp,INT,0.000009,114,0,254,0,0,0,...,0,30,30,30,30,30,16,30,Generic,1

# 1. Exploratory Data Analysis

Exploratory Data Analysis (EDA) is a crucial step in the data analysis process that involves examining and visualizing data sets to uncover patterns, trends, anomalies, and insights. It is the first step before applying more advanced statistical and machine learning techniques. EDA helps you to gain a deep understanding of the data you are working with, allowing you to make informed decisions and formulate hypotheses for further analysis.

## A. Data Understanding
The objective of this section is for participants to understand the quality of the provided data. This includes:

1. Data Size
2. Statistics of Each Feature
3. Outliers
4. Correlation
5. Distribution

### Step 1

Find the following:

1. The size of the data (instances and features).
2. The data types of each feature.
3. The number of unique values for categorical features.
4. The minimum, maximum, mean, median, and standard deviation values for non-categorical features.
5. Explain the significance of gathering the first four pieces of information.

In [ ]:
# Write your code here

### Step 2

Find the following:

1. Missing values for each feature.
2. Outliers for each feature (use the methods you are familiar with).
3. Why is it necessary to identify missing values and outliers?

In [ ]:
# Write your code here

### Step 3

Find the following:

1. Correlations between features.
2. Visualize the distribution of each feature (categorical and continuous).
3. Visualize the correlation between features and the target variable.
4. Explain the significance of understanding feature distributions and correlations.

In [ ]:
# Write your code here

## B. Data Insights

The objective of this section is for participants to understand how to formulate and get many insights from the given data so that we can improve the model performance. Given example questions:

1. What are the most common protocols (proto) in the dataset, and are certain protocols more associated with specific attack categories?
2. Are there significant differences in the values of network characteristics such as sload, sload, sbytes, and dbytes between attack and normal records?
3. How does TCP-setup-related features vary, such as tcprtt, synack, and ackdat, across normal records and each type of attack records?

### Step 1

Answer the three example questions by visualizing and explaining the insights for each question. Add markdown texts to explain the visualizations.

#### 1. What are the most common protocols (proto) in the dataset, and are certain protocols more associated with specific attack categories?

In [ ]:
# Write your code here

#### 2. Are there any significant differences in the values of network characteristics such as Sload, Dload, sbytes, and dbytes between attack and normal records?

In [ ]:
# Write your code here

#### 3. How does TCP-setup-related features vary, such as tcprtt, synack, and ackdat, across normal records and each type of attack records?

In [ ]:
# Write your code here

### Step 2

Try to formulate five other new questions and answer them with the methods used before.

#### 4. Your first question (replace this heading)

In [ ]:
# Write your code here

#### 5. Your second question (replace this heading)

In [ ]:
# Write your code here

#### 6. Your third question (replace this heading)

In [ ]:
# Write your code here

#### 7. Your fourth question (replace this heading)

In [ ]:
# Write your code here

#### 8. Your fifth question (replace this heading)

In [ ]:
# Write your code here